<form [formGroup]="orderForm">
    <div class="form-group">
        <ng-multiselect-dropdown [class]="form-control" [placeholder]="'Cliente'" [data]="customers" formControlName="customer" [settings]="customerDropdownSettings">

        </ng-multiselect-dropdown>
    </div>


    <div class="form-group">
        <ng-multiselect-dropdown [class]="form-control" (onDeSelectAll)="onDeSelectAllProducts($event)" (onSelectAll)="onSelectAllProducts($event)" (onDeSelect)="onDeselectProduct($event)" (onSelect)="onSelectProduct($event)" [placeholder]="'Produtos'" [data]="products"
            formControlName="products" [settings]="productsDropdownSettings">

        </ng-multiselect-dropdown>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" (change)="applyDiscount($event.target.value)" formControlName="discount" placeholder="Desconto em %">
    </div>
    <div class="form-group">
        <p class="text-right">Preço: {{price}}</p>
    </div>

    <div class="form-group">
        <p class="text-right">Preço Total: {{totalPrice}}</p>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save();">Criar</button>
</form>